@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Ubuntu:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.my-app-dark {
    background-color: #051e2e;
    color: white;
    min-height: 100vh;
}
